*{
    padding: 0;
    border: 0;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    padding-top: 1%;
    padding-left: 2%;
} 

#navbar a{
    padding-left: 2%;
    text-decoration: none;
    color: #222;
}

#main h1{
    padding-top: -10%;
    padding-left: 2%;
    font-size:18em;
    font-weight:50;
}

#bottom {
    padding-bottom: 1%;
    padding-left: 2%;
}

#bottom a{
    text-decoration: none;
    color: #222;
}