*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
} 

#navbar h3 {
    font-size: 150%;
    margin: 0;
}

#navbar a{
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

#navfirst, #navThird {
    display: flex;
    gap: 50px;
    width: 30%;
    
}

#navThird{
    justify-content: flex-end;
}


#main{
    position: relative;
    height: 100%;
}

#main h1{
    margin: 0;
    padding-left: 6%;
    font-size:18em;
    font-weight:50;
}

#bottomLeft {
    padding-left: 2%;
    width: 25%;
}

#bottomLeft h4 {
    font-weight: 100;
}

#firstImg {
    position: absolute;
    height: 40%;
    left: 42%;
    top: 45%;
    
}

#secondImg {
    position: absolute;
    height: 40%;
    left: 68%;
    top: 35%;
    
}

#thirdImg{
    position: absolute;
    height: 35%;
    left: 55%;
    top: 60%;
}

#footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#footer a{
    text-decoration: none;
    color: #222;
}
